<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="UserDao" class="com.Kotori.demo1.UserDaoMysqlImpl">
        <property name="name" value="name"></property>
    </bean>

    <bean id="Person" class="com.Kotori.demo2.Person" init-method="init" destroy-method="destroy">
        <property name="name" value="lz"></property>
    </bean>

    <bean id="User" class="com.Kotori.demo3.User" factory-method="createUser"></bean>

    <bean id="Dog" class="com.Kotori.demo4.Dog">
        <property name="dogName" value="wc"></property>
    </bean>

    <bean id="Student" class="com.Kotori.demo4.Student">
        <property name="name" value="zs"></property>
        <property name="age" value="12"></property>
        <property name="Dog" ref="Dog"></property>
        <property name="attr">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </property>

        <property name="myList">
            <list>
                <value>a</value>
                <value>b</value>
                <value>c</value>
            </list>
        </property>

        <property name="mySet">
            <set>
                <value>111</value>
                <value>222</value>
                <value>333</value>
            </set>
        </property>

        <property name="myMap">
            <map>
                <entry key="a" value="1"></entry>
                <entry key="b" value="2"></entry>
                <entry key="c" value="3"></entry>
            </map>
        </property>

    </bean>

</beans>